@use "tailwind";
@import "variables";
@import '~@angular/material/theming';
@include mat-core();

$ng-material-tailwind-primary: mat-palette($custom-primary-color);
$ng-material-tailwind-accent: mat-palette($custom-accent-color, A200, A100, A400);
$ng-material-tailwind-warn: mat-palette($custom-warn-color);

$ng-material-tailwind-theme: mat-light-theme((
  color: (
    primary: $ng-material-tailwind-primary,
    accent: $ng-material-tailwind-accent,
    warn: $ng-material-tailwind-warn,
  )
));
@include angular-material-theme($ng-material-tailwind-theme);
